* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}

#transaction {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
}

.transactions {
  background-color: #d3d0d0;
  padding: 0.5rem;
  width: 11rem;
}

h2 {
  margin-bottom: .75rem;
}